__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
menv/
ENV/
env.bak/
venv.bak/
.git/
.github/
.vscode/
media/
*.log
run.py
migrations/
*.sqlite3
/db_data/
README.md
SOCIAL_AUTH_FRONTEND_INTEGRATION.md
*.md
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.tox/
